{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as util %}
<!DOCTYPE html>
<html>


<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='what_if.css') }}">

    <script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>

</head>




<body>
    

<form method = 'post' action = '/query_input_what_if'>
<div class="container">
    <!-- TOP LEFT -->
    <div class="top_banner">
        {{ form.database(id='database', class = 'button-4') }}
        <!-- <select class="button-4" name="database" id="database">
            
            <option value="Amazon Product">Amazon Product</option>
            <option value="Adult Income">Adult Income</option>
        </select> -->
        <input type="submit" name = 'go' value="Go">
            

        <div style="display: inline; float: right;">
            {{ form.base_tables(class = 'button-4')}}
            <!-- <button class="button-4" name = 'base_tables' role="button">Base Tables</button> -->
        </div>

        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'What-If')">What-If</button>
            <button class="tablinks" onclick="openCity(event, 'How-To')">How-To</button>
        </div>

        <!-- HELP TIPS -->
        <div style="z-index: 1000;">
            <div class="help-tip" id="help-tip-whatif" style="top: 60px; left: 180px;">
                <p>This is the inline help tip for what-if!</p>
            </div>
        </div>

        <div style="z-index: 1000;">
            <div class="help-tip" id="help-tip-use" style="top: 150px; left: 10px;">
                <p>This is the inline help tip for use!</p>
            </div>
        </div>

        <div style="z-index: 1000;">
            <div class="help-tip" id="help-tip-output" style="top: 452px; left: 10px;">
                <p>This is the inline help tip for output!</p>
            </div>
        </div>

        <div style="z-index: 1000;">
            <div class="help-tip" id="help-tip-update" style="top: 615px; left: 10px;">
                <p>This is the inline help tip for update!</p>
            </div>
        </div>

        <div style="display: inline; float: right; margin-top: 10px;">
            <button class="button-4" name = 'run' role="button" style="background-color: rgb(104, 213, 80);">RUN</button>
        </div>
        
    </div>

    <!-- TOP RIGHT -->
    <div class="top_banner">

        <div class="tab" style="margin-top: 32px;">
            <button class="tablinks" onclick="openCity(event, 'Overall')">Overall</button>
            <button class="tablinks" onclick="openCity(event, 'Vary Updates')">Vary Updates</button>
        </div>

        <!-- HELP TIPS -->
        <div style="z-index: 1000;">
            <div class="help-tip" id="help-tip-overall" style="top: 60px; left: 866px;">
                <p>This is the inline help tip for overall!</p>
            </div>
        </div>

    </div>

    <!-- INPUT GRID MIDDLE LEFT -->
    <div class="input_grid">
        <!-- USE ROW -->
        <div class="span-row-2">
            <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">USE</button>
        </div>
        
        <div class="span-col-5">

            {{ form.use_table(id='table-dropdown',class='button-4')}}
            <!-- <select class="button-4" name="table" id="table-dropdown">
                <option value="product">Custom</option>
                <option value="review">Review</option>
                <option value="rel_view">Product</option>
            </select> -->
            <div style="display: inline;">
                <input class="button-4" type="text" id="relview" name="relview" value="AS RelevantView" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 165px">
            </div>
            <!-- <div class="inline-text" style="display: inline;"> </div> -->
        </div>

        <div class="span-col-5"> 
            <div id="editor_USE"></div>
            <textarea name="use" id="use" style="display: none;">{{ form.use.data }}</textarea>

            <script>
                var editor_USE = ace.edit("editor_USE");
                var textarea = document.getElementById("use");
                editor_USE.setTheme("ace/theme/xcode"); 
                // cobalt, dawn, solarized_light, xcode
                editor_USE.session.setMode("ace/mode/sql");
                editor_USE.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_USE.getSession().setValue(textarea.value);
                editor_USE.getSession().on('change', function(){
                    textarea.value=editor_USE.getSession().getValue();
                });
            </script>
         
            <div style="width: 100px; height: 50px;">
                <br>
                {{ form.run_relevant(class = 'button-4', style="background-color: rgba(130, 192, 128, 0.548);")}}
                <!-- <button class="button-4" name = 'run_relevant' role="button" style="background-color: rgba(130, 192, 128, 0.548);">RUN RELEVANT VIEW</button> -->
            </div>
    
    
        </div>
        <!-- OUTPUT ROW -->
        <div>
            <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">OUTPUT</button>
        </div>
        <div class="span-col-5">
            {{ form.output_type(class='button-4')}}
            <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                <option value="count">AVG</option>
                <option value="sum">SUM</option>
                <option value="avg">COUNT</option>
            </select> -->
            <div style="display: inline;">
                {{ form.output_attrs(class='button-4')}}
                <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                    <option value="product">POST(Rtng)</option>
                    <option value="review">POST(Brand)</option>
                    <option value="rel_view">POST(Senti)</option>
                    <option value="rel_view">POST(Price)</option>
                </select> -->
            </div>
        </div>  
        <!-- FOR ROW --> 
        <div>
        </div> 
        <div>
            <button class="button-4" role="button">+ FOR</button>
        </div>
        <div class="span-col-4">
            <div id="editor_FOR"></div>
            <textarea = name="output" id="output" style="display: none;">{{ form.output.data}}</textarea>
                        
            <script>
                var editor_FOR = ace.edit("editor_FOR");
                var textarea_for = document.getElementById("output");
                editor_FOR.setTheme("ace/theme/xcode");
                editor_FOR.session.setMode("ace/mode/sql");
                editor_FOR.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_FOR.getSession().setValue(textarea_for.value);
                editor_FOR.getSession().on('change',function(){
                    textarea_for.value=editor_FOR.getSession().getValue();
                });
            </script>
        </div>


        <!-- UPDATE ROW -->
        <div>
            <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">UPDATE</button>
        </div>
        <div class="span-col-5">
            {{ form.update_attrs(class='button-4', id = 'update_dropdown')}}
            <!-- <select class="button-4" name="update_attribute" id="update_dropdown">
                <option value="product">Price</option>
                <option value="review">Brand</option>
                <option value="rel_view">Senti</option>
                <option value="rel_view">Rtng</option>
            </select> -->
            <div class='inline-text' style="display: inline;"> = </div>
            <div style="display: inline;">
                <input class="button-4" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" value='1.1'>
            </div>
            <div style="display: inline;">
                {{ form.update_sign(class='button-4',id='update_dropdown')}}
                <!-- <select class="button-4"  name="update_attribute" id="update_dropdown">
                    <option value="product">x</option>
                    <option value="review">+</option>
                    <option value="rel_view">.</option>
                </select> -->
            </div>
            <div style="display: inline;">
                <input class="button-4" type="text" id="update_attr2" name="update_attr2" value=" PRE(Price)" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 120px">
            </div>
        </div>
        <!-- WHEN ROW -->
        <div>
        </div>
        <div>
            <button class="button-4" role="button">+ WHEN</button>
        </div>
        <div class="span-col-4">
            <div id="editor_WHEN"></div>
            <textarea = name="when" id="when" style="display: none;">{{ form.when.data}}</textarea>
                        
            <script>
                var editor_WHEN = ace.edit("editor_WHEN");
                var whenarea_for = document.getElementById("when");
                editor_WHEN.setTheme("ace/theme/xcode");
                editor_WHEN.session.setMode("ace/mode/sql");
                editor_WHEN.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_WHEN.getSession().setValue(whenarea_for.value);
                editor_WHEN.getSession().on('change',function(){
                    whenarea_for.value=editor_WHEN.getSession().getValue();
                });
            </script>
        </div>
        
        
    </div>

    <!-- OUTPUT GRID MIDDLE RIGHT -->
    <div class="output_grid">
        
        <div>
            {%- if final_run -%}
            <div id="bar-out-1">
                <img id="bar1" src="/static/bar_graph1.jpg" style="
                width: 200px;
                height: 250px;
                object-fit: contain;">
            </div>
            {%- endif %}
        </div>

        <div>
            {%- if final_run -%}
            <div id="bar-out-2">
                <img id="bar2" src="/static/bar_graph2.jpg" style="
                width: 400px;
                height: 300px;
                object-fit: contain;">
            </div>
            {%- endif %}
        </div>

        <div>
            C
        </div>

        <div>
            D
        </div>


    </div>

    <!-- CAUSAL GRAPH BOTTOM LEFT -->
    <div class="bottom_banner">
        {%- if causal_graph -%}
        <div id="causal_graph">
            <img id="causal_img" src="/static/causal_graph2.jpg" alt="causal graph" >
        </div>
        <div class="bold_title">
            Causal Graph
        
        </div>
        {%- endif %}
    </div>

    <!-- RELEVANT VIEW BOTTOM RIGHT -->
    <div class="bottom_banner">
        <div class="bold_title">
            Relevant View
        </div>
        <br>
        <div id="rel_view_table">
            <table border="1" class="dataframe">
                <thead>
                <tr style="text-align: right;">
                    {% for attr in attr_list %}
                        <th>{{ attr }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% for i in range(len_item) %}
                            <td>{{ item[i] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
</form>



</body>
</html>

