<!DOCTYPE html>
<html lang="en">
<title>HypeR</title>
<head>

</head>



    <link rel="stylesheet" href="{{ url_for('static', filename='what_if.css') }}">
    <script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" integrity="sha256-5Xkhn3k/1rbXB+Q/DX/2RuAtaB4dRRyQvMs83prFjpM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px} -->
    </style>





<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-blue w3-card w3-middle-align w3-large">
   <center>HypeR: : Hypothetical Reasoning With What-If and How-To Queries Using a Probabilistic Causal Approach</center></div>
   <div class="w3-bar w3-blue w3-card w3-middle-align w3-large">
      <center><a href="{{ url_for('main.index') }}" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Home</a>
      <a href="https://sainyamgalhotra.github.io/papers/HypeR_fullversion.pdf" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Paper</a>
      <a href="{{ url_for('main.query_input_what_if') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">What-if Query</a></center>
      <a href="{{ url_for('main.query_input_how_to') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">How-to Query</a></center>
    </div>
  
    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Demo</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Papers</a>
      <a href="#" class="w3-bar-item w3-button w3-padding-large">Contact Us</a>
    </div>
  </div>
<br><br> 

<form method = 'post' action = '/query_input_what_if'>
<div class="container">


    <!-- TOP LEFT -->
    <div class="top_banner">
        <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'What-If')">What-If</button>
            <button class="tablinks" onclick="openCity(event, 'How-To')">How-To</button>
        </div>

        
    </div>

    <!-- TOP RIGHT -->
    <div class="top_banner">

        <div class="tab" style="margin-top: 32px;">
            <button class="tablinks" onclick="openCity(event, 'Overall')">Overall</button>
            <button class="tablinks" onclick="openCity(event, 'Vary Updates')">Vary Updates</button>
        </div>

    </div>

    <!-- INPUT GRID MIDDLE LEFT -->
    <div class="input_grid">
        <div>
            <label>Choose Database</label>
            <!-- <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">Enter Aggregate Query Here:</button> -->
        </div>

        
        <div class="span-col-5">
            {{ form.database(id='database', class = 'button') }}
            <div style="display: inline; float: right;">
                <button class="button-4" role="button" style = "background-color: rgba(27, 31, 35, 0.15)">Specify Constraints</button>
                <!-- {{ form.base_tables(class = 'button-4')}} -->
                <!-- <button class="button-4" name = 'base_tables' role="button">Base Tables</button> -->
            </div>
            <!-- <div class="inline-text" style="display: inline;"> </div> -->
        </div>


        <!-- USE ROW -->
        <div>
            <label>Aggregate Query</label>
            <!-- <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">USE</button> -->
        </div>
        
        <!-- <div class="span-col-5">

            {{ form.use_table(id='table-dropdown',class='button-4')}} -->
            <!-- <select class="button-4" name="table" id="table-dropdown">
                <option value="product">Custom</option>
                <option value="review">Review</option>
                <option value="rel_view">Product</option>
            </select> -->
            <!-- <div style="display: inline;">
                <input class="button-4" type="text" id="relview" name="relview" value="AS RelevantView" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 165px">
            </div> -->
            <!-- <div class="inline-text" style="display: inline;"> </div>
        </div> -->

        <div class="span-col-5"> 
            <div id="editor_USE"></div>
            <textarea name="use" id="use" style="display: none;">{{ form.use.data }}</textarea>

            <script>
                var editor_USE = ace.edit("editor_USE");
                var textarea = document.getElementById("use");
                editor_USE.setTheme("ace/theme/xcode"); 
                // cobalt, dawn, solarized_light, xcode
                editor_USE.session.setMode("ace/mode/sql");
                editor_USE.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_USE.getSession().setValue(textarea.value);
                editor_USE.getSession().on('change', function(){
                    textarea.value=editor_USE.getSession().getValue();
                });
            </script>
         
            <div style="width: 100px; height: 50px;">
                <br>
                {{ form.run_relevant(class = 'button-4', style="background-color: rgba(27, 31, 35, 0.15);")}}
                <!-- <button class="button-4" name = 'run_relevant' role="button" style="background-color: rgba(130, 192, 128, 0.548);">RUN RELEVANT VIEW</button> -->
            </div>
    
    
        </div>
        <!-- OUTPUT ROW -->
        <!-- <div>
            <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">OUTPUT</button>
        </div>
        <div class="span-col-5">
            {{ form.output_type(class='button-4')}} -->
            <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                <option value="count">AVG</option>
                <option value="sum">SUM</option>
                <option value="avg">COUNT</option>
            </select> -->
            <!-- <div style="display: inline;">
                {{ form.output_attrs(class='button-4')}} -->
                <!-- <select class="button-4" name="output_aggr" id="output_aggr">
                    <option value="product">POST(Rtng)</option>
                    <option value="review">POST(Brand)</option>
                    <option value="rel_view">POST(Senti)</option>
                    <option value="rel_view">POST(Price)</option>
                </select> -->
            <!-- </div> -->
        <!-- </div>   -->
        <!-- FOR ROW --> 
        <!-- <div>
        </div> 
        <div>
            <button class="button-4" role="button">+ FOR</button>
        </div>
        <div class="span-col-4">
            <div id="editor_FOR"></div>
            <textarea = name="output" id="output" style="display: none;">{{ form.output.data}}</textarea>
                        
            <script>
                var editor_FOR = ace.edit("editor_FOR");
                var textarea_for = document.getElementById("output");
                editor_FOR.setTheme("ace/theme/xcode");
                editor_FOR.session.setMode("ace/mode/sql");
                editor_FOR.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_FOR.getSession().setValue(textarea_for.value);
                editor_FOR.getSession().on('change',function(){
                    textarea_for.value=editor_FOR.getSession().getValue();
                });
            </script>
        </div> -->

        <div>
            <label>Update Attribute</label>
        </div>
        
        <div class = 'span-col-5'>
            If we were to update the attribute :
            <div class="span-col-5">
                <select class="button">
                    <option value="product">POST(Rtng)</option>
                    <option value="review">POST(Brand)</option>
                    <option value="rel_view">POST(Price)</option>
                    <option value="rel_view">POST(Category)</option>
                    <option value="rel_view">POST(Quality)</option>
                    <option value="rel_view">POST(Color)</option>
                </select> 
            <div class='inline-text' style="display: inline;"> as </div>
            <div style="display: inline;">
                <input class="button" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" value='1.1'>
            </div>
            <div style="display: inline;">
                <!-- {{ form.update_sign(class='button-4',id='update_dropdown')}} -->
                <select class="button"  name="update_attribute" id="update_dropdown">
                    <option value="product">x</option>
                    <option value="review">+</option>
                    <option value="rel_view">.</option>
                </select>
            </div>

            <div style="display: inline;">
                <input class="button" type="text" id="update_attr2" name="update_attr2" value=" PRE(Price)" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 120px">
            </div>
        </div>
        <div class="span-col-5">
            For a subset that satisfies:
            <div class="span-col-5">
                <select class="button">
                    <option value="product">Rtng</option>
                    <option value="review">Brand</option>
                    <option value="rel_view">Price</option>
                    <option value="rel_view">Category</option>
                    <option value="rel_view">Quality</option>
                    <option value="rel_view">Color</option>
                </select>
                <div class='inline-text' style="display: inline;"> = </div>
                <select class="button">
                    <option value="product">Asus</option>
                </select>
            </div>
            
            </div>
        </div>

        <!-- UPDATE ROW -->
        <div>
            <!-- <button class="button-4" role="button" disabled style="color:#EDEFF2: #929090;">UPDATE</button> -->
            <label>Update Attribute</label>
        </div>
        <div class="span-col-5">
            {{ form.update_attrs(class='button', id = 'update_dropdown')}}
            <!-- <select class="button-4" name="update_attribute" id="update_dropdown">
                <option value="product">Price</option>
                <option value="review">Brand</option>
                <option value="rel_view">Senti</option>
                <option value="rel_view">Rtng</option>
            </select> -->
            <div class='inline-text' style="display: inline;"> = </div>
            <div style="display: inline;">
                <input class="button" type="number" id="update_const" name="update_const" size="4"
                style="width: 100px;" value='1.1'>
            </div>
            <div style="display: inline;">
                {{ form.update_sign(class='button',id='update_dropdown')}}
                <!-- <select class="button-4"  name="update_attribute" id="update_dropdown">
                    <option value="product">x</option>
                    <option value="review">+</option>
                    <option value="rel_view">.</option>
                </select> -->
            </div>
            <div style="display: inline;">
                <input class="button" type="text" id="update_attr2" name="update_attr2" value=" PRE(Price)" disabled
                style="background-color: rgba(216, 216, 216, 0.548); width: 120px">
            </div>
        </div>
        <!-- WHEN ROW -->
        <div>
        </div>
        <div>
            <button class="button-4" role="button" style = "background-color: rgba(27, 31, 35, 0.15)">+ WHEN</button>
        </div>
        <div class="span-col-4">
            <div id="editor_WHEN"></div>
            <textarea = name="when" id="when" style="display: none;">{{ form.when.data}}</textarea>
                        
            <script>
                var editor_WHEN = ace.edit("editor_WHEN");
                var whenarea_for = document.getElementById("when");
                editor_WHEN.setTheme("ace/theme/xcode");
                editor_WHEN.session.setMode("ace/mode/sql");
                editor_WHEN.setOptions({
                    // fontFamily: "tahoma",
                    fontSize: "12pt"
                });
                editor_WHEN.getSession().setValue(whenarea_for.value);
                editor_WHEN.getSession().on('change',function(){
                    whenarea_for.value=editor_WHEN.getSession().getValue();
                });
            </script>
        </div>
        
        <div style="display: inline; float: right; margin-top: 10px;">
            <button class="button-4" name = 'run' role="button" style="background-color: rgba(27, 31, 35, 0.15);">RUN</button>
        </div>
        
    </div>

    <!-- OUTPUT GRID MIDDLE RIGHT -->
    <div class="output_grid">

        <!-- <div>
            {%- if final_run -%}
            <div id="bar-out-1">
                <img id="bar1" src="/static/bar_graph1.jpg" style="
                width: 200px;
                height: 250px;
                object-fit: contain;">
            </div>
            {%- endif %}
        </div>

        <div>
            {%- if final_run -%}
            <div id="bar-out-2">
                <img id="bar2" src="/static/bar_graph2.jpg" style="
                width: 400px;
                height: 300px;
                object-fit: contain;">
            </div>
            {%- endif %}
        </div> -->

        <div>
            
            <div id="bar-out-2">
                <img id="bar" src="/static/bar_graph.jpg" style="
                width: 400px;
                height: 300px;
                object-fit: contain;">
            </div>
            <div class="bold_title">
                Aggregate Query View
            
            </div>
            
        </div>

        <div>
            D
        </div>


    </div>

    <!-- CAUSAL GRAPH BOTTOM LEFT -->
    <div class="bottom_banner">
        {%- if causal_graph -%}
        <div id="causal_graph">
            <img id="causal_img" src="/static/causal_graph2.jpg" alt="causal graph" >
        </div>
        <div class="bold_title">
            Causal Graph
        
        </div>
        {%- endif %}
    </div>

    <!-- RELEVANT VIEW BOTTOM RIGHT -->
    <div class="bottom_banner">
        <div class="bold_title">
            Relevant View
        </div>
        <br>
        <div id="rel_view_table">
            <table border="1" class="dataframe">
                <thead>
                <tr style="text-align: right;">
                    {% for attr in attr_list %}
                        <th>{{ attr }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in items %}
                    <tr>
                        {% for i in range(len_item) %}
                            <td>{{ item[i] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
</form>



</body>
</html>

